@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  font-family: "Ubuntu", sans-serif;
}

.App-header {
  background-color: #282c34;
  height: auto ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
  font-weight: 900;
  text-decoration: none;
  font-size: 2em;
}
